@import '~bootstrap/dist/css/bootstrap.css';
body{
  font-family: sans-serif;
}
.container
{
  

  margin-right:5%;
}
.common-form{
  text-align:center;
  display:flex;
  margin:auto;
  flex-direction: column;
  width:300px;
}
.form-input{
  height:35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border:1px solid rgb(53, 53, 112);;
  color:rgb(53, 53, 112);;
}
.form-button{
  height:35px;
  border:1px solid rgb(53, 53, 112);;
  cursor: pointer;
}
.error-p{
  color:red;
}
.p-message{
  color:green;
  
}
.carousel-caption{
  background-color: #00000082;
  border-radius: 5px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: black;
  border:5px;
}
.invalid-input{
  color:red;
  font-size: 15px;
  margin-top: -20px;
  text-align: left;
}
button:disabled{
  cursor:not-allowed;
}
.nav{
  margin-left: -150px;
  margin-right: -65px;
  display:flex;
  justify-content:space-between;
  background-color: #436E9A;
  height:70px !important;
 
}