.product-header-image{
    object-fit: contain;
    height:350px;
    width:100%;
    margin-top: 50px;
}
.product-list-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
}
.product-item{
    margin-bottom: 40px;
    border:1px solid #ddd;
    margin-right: 25px;
}
.product-item img{
    width: 200px;
    height: 260px;
}
.product-item .product-details{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.product-item {
    text-align: center;
    font-size: 17px;
    font-weight:500;
}
.name-head{
    text-align: center;
    font-size: 17px;
    font-weight:600;

}
.product-item .product-details h6{
    text-align: center;
}
.product-footer{
    display:flex;
    justify-content: space-between;
    padding:10px;
}